html {
    height: 100vh;
    background-color: rgb(99, 97, 97);
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 800px;
    min-width: 500px;
    border: 10px ridge rgb(151, 66, 24);
    border-radius: 15px;
    background-color: rgb(22, 35, 38);
    box-shadow: 0px 0px 10px 10px #181818;
    padding: 10px;
}

.displayDiv {
    min-height: 200px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.display {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    min-height: 150px;
    max-height: 150px;
    min-width: 430px;
    max-width: 430px;
    border: 8px outset rgb(183, 183, 183);
    border-radius: 15px;
    background-color: rgb(39, 37, 37);
    direction: ltr;
}

@font-face{
    font-family: 'digital-7';
    src: url(fonts/digital-7.ttf);
}

.calcs{
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    font-size: 40px;
    font-family: 'digital-7';
    min-height: 50px;
    max-height: 50px;
    max-width: 415px;
    margin: 2px;
    color: rgb(192, 201, 202);

}

.text {
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    font-size: 75px;
    font-family: 'digital-7';
    min-height: 70px;
    max-height: 70px;
    max-width: 420px;
    margin: 2px;
    margin-top: 12px;
    color: rgb(108, 209, 224);

}

.text::-webkit-scrollbar,
.calcs::-webkit-scrollbar{
    height: 5px;
}

.text::-webkit-scrollbar-button,
.calcs::-webkit-scrollbar-button{
    width: 0;
    cursor: pointer;
}

.text::-webkit-scrollbar-thumb,
.calcs::-webkit-scrollbar-thumb{
    background-color: brown;
}

.text::-webkit-scrollbar-track,
.calcs::-webkit-scrollbar-track{
    background-color: rgb(39, 37, 37);
}

.clearDiv, .equalDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 32px;
    min-height: 70px;
    padding-bottom: 10px;
}

.clearDiv button,
.equalDiv button{
    min-width: 180px;
    font-size:35px;
    padding: 5px;
    border: 4px solid rgb(160, 160, 14);
    box-shadow: 0px 6px #030303;
    background-color: black;
    color: rgb(229, 217, 217);
    border-radius: 15px;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.equalDiv {
    padding: 20px 0px 20px 0px;
}

.equalDiv button{
    border: 4px solid rgb(88, 154, 47);
}

.clearDiv button:hover,
.equalDiv button:hover{background-color: rgb(39, 34, 34);}

.clearDiv button:active,
.equalDiv button:active{transform: translateY(4px);}

.buttonDiv {
    display: grid;
    grid-template-columns: repeat(4, 90px);
    grid-auto-rows: minmax(90px, auto);
    justify-content: center;
    grid-gap: 10px;
    grid-row-gap: 20px;
    
}

.numberBtn,
.equal,
.dotBtn,
.negativeBtn,
.operator {
    font-size:40px;
    padding: 10px;
    border: 3px solid blue;
    background-color: black;
    color: rgb(229, 217, 217);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 0px 6px #030303;
}

.numberBtn:hover,
.equal:hover,
.dotBtn:hover,
.negativeBtn:hover
{background-color: rgb(28, 25, 25);}

.numberBtn:active,
.equal:active,
.dotBtn:active,
.negativeBtn:active
{transform: translateY(4px);}

.operator{
    border: 3px solid brown;
}

.operator:hover{background-color: rgb(67, 25, 25);}

.operator:active{transform: translateY(4px);}

.lightUp {
    transform: translateY(2px);
    border: 4px solid rgb(231, 77, 77);
    background-color: rgb(67, 25, 25);
}

.saveContainer {
    min-width: 800px;
    max-width: 800px;
    max-height: 800px;
    min-height: 800px;
    display: flex;
    flex-direction: column;
    background-image: url(./images/chalkboard.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 50px;
    border: 25px solid transparent;
    border-image: url(/images/frame.png) 50 stretch;
    overflow-y: auto;
}

@font-face {
    font-family: "Chalk-Regular";
    src: url(fonts/Chalk-Regular.ttf);
}

.saveText {
    text-align: center;
    font-family: "Chalk-Regular";
    font-size: 40px;
    font-weight: 700px;
    color:rgb(88, 200, 211);
    border-bottom: 10px double rgb(229, 236, 228);
    padding: 12px;
}

.saveDiv {
    display: flex;
    flex-direction: column;
}
.chalkText {
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    color:rgb(248, 244, 244);
    padding-left: 20px;
    padding-top: 10px;
    border-bottom: 4px solid rgb(240, 234, 234);
}

.saveContainer::-webkit-scrollbar,
.chalkText::-webkit-scrollbar{
    height: 5px;
    width: 8px;
}

.saveContainer::-webkit-scrollbar-button,
.chalkText::-webkit-scrollbar-button{
    width: 0;
    height: 0;
    cursor: pointer;
}

.saveContainer::-webkit-scrollbar-thumb,
.chalkText::-webkit-scrollbar-thumb{
    background-color: rgb(56, 170, 163);
}

.saveContainer::-webkit-scrollbar-track,
.chalkText::-webkit-scrollbar-track{
    background-color: transparent;
}

.clearText {
    font-family: "Chalk-Regular";
    font-size: 25px;
    font-weight: 700px;
    background-color: black;
    color: white;
    border: 3px solid white;
    border-radius: 20px;
    cursor: pointer;
}

.clearText:hover{
    background-color: rgb(65, 61, 61);
}

.clearText:active{
    transform: translateY(2px);
}